.title__color{
  margin-top: 20%;
  margin-left: 50%;
}
.button__generate{
  outline: none;
  margin-left: 38%;
  text-decoration:none; 
  text-align:center; 
  cursor: pointer;
  padding:11px 32px; 
  border:solid 1px #f5e6f7; 
  -webkit-border-radius:3px;
  -moz-border-radius:3px; 
  border-radius: 3px; 
  font:36px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#E5FFFF; 
  background-color:#122d36; 
  background-image: -moz-linear-gradient(top, #122d36 0%, #1982A5 100%); 
  background-image: -webkit-linear-gradient(top, #122d36 0%, #1982A5 100%); 
  background-image: -o-linear-gradient(top, #122d36 0%, #1982A5 100%); 
  background-image: -ms-linear-gradient(top, #122d36 0% ,#1982A5 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
  background-image: linear-gradient(top, #122d36 0% ,#1982A5 100%);   
  -webkit-box-shadow:10px 12px 5px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 10px 12px 5px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:10px 12px 5px #bababa, inset 0px 0px 1px #ffffff;  
  opacity:0.75; 
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); 
  filter: alpha(opacity=75); 
  text-shadow: 2px 0px 0px #bababa; 
  filter: dropshadow(color=#bababa, offx=2, offy=0);  -webkit-transition: background 0.29s linear;
  -moz-transition:  background 0.29s linear;
  -o-transition:  background 0.29s linear;
  transition:  background 0.29s linear;}.button:hover{
  padding:11px 32px; 
  border:solid 1px #004F72; 
  -webkit-border-radius:3px;
  -moz-border-radius:3px; 
  border-radius: 3px; 
  font:33px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#E5FFFF; 
  background-color:#3BA4C7; 
  background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
  background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
  background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
  background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
  background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
  -webkit-box-shadow:10px 12px 5px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 10px 12px 5px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:10px 12px 5px #bababa, inset 0px 0px 1px #ffffff;  
  opacity:0.75; 
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); 
  filter: alpha(opacity=75); 
  text-shadow: 0px 2px 0px #bababa; 
  filter: dropshadow(color=#bababa, offx=0, offy=2);
}

.button__geterate:hover{
  text-decoration:none; text-align:center; 
  padding:11px 32px; 
  border:solid 1px #f5e6f7; 
  -webkit-border-radius:3px;
  -moz-border-radius:3px; 
  border-radius: 3px; 
  font:36px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#E5FFFF; 
  background-color:#122d36; 
  background-image: -moz-linear-gradient(top, #122d36 0%, #1982A5 100%); 
  background-image: -webkit-linear-gradient(top, #122d36 0%, #1982A5 100%); 
  background-image: -o-linear-gradient(top, #122d36 0%, #1982A5 100%); 
  background-image: -ms-linear-gradient(top, #122d36 0% ,#1982A5 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
  background-image: linear-gradient(top, #122d36 0% ,#1982A5 100%);   
  -webkit-box-shadow:10px 12px 5px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 10px 12px 5px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:10px 12px 5px #bababa, inset 0px 0px 1px #ffffff;  
  opacity:0.75; 
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); 
  filter: alpha(opacity=75); 
  text-shadow: 2px 0px 0px #bababa; 
  filter: dropshadow(color=#bababa, offx=2, offy=0);  -webkit-transition: background 0.29s linear;
  -moz-transition:  background 0.29s linear;
  -o-transition:  background 0.29s linear;
  transition:  background 0.29s linear;}.button:hover{
  padding:11px 32px; 
  border:solid 1px #005072; 
  -webkit-border-radius:3px;
  -moz-border-radius:3px; 
  border-radius: 3px; 
  font:33px Arial, Helvetica, sans-serif; 
  font-weight:bold; 
  color:#E5FFFF; 
  background-color:#3ba4c7; 
  background-image: -moz-linear-gradient(top, #3ba4c7 0%, #1982A5 100%); 
  background-image: -webkit-linear-gradient(top, #3ba4c7 0%, #1982A5 100%); 
  background-image: -o-linear-gradient(top, #3ba4c7 0%, #1982A5 100%); 
  background-image: -ms-linear-gradient(top, #3ba4c7 0% ,#1982A5 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
  background-image: linear-gradient(top, #3ba4c7 0% ,#1982A5 100%);   
  -webkit-box-shadow:10px 12px 5px #bababa, inset 0px 0px 1px #ffffff; 
  -moz-box-shadow: 10px 12px 5px #bababa,  inset 0px 0px 1px #ffffff;  
  box-shadow:10px 12px 5px #bababa, inset 0px 0px 1px #ffffff;  
  opacity:0.75; 
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75); 
  filter: alpha(opacity=75); 
  text-shadow: 0px 2px 0px #bababa; 
  filter: dropshadow(color=#bababa, offx=0, offy=2);
}